@import url('https://fonts.googleapis.com/css2?family=Comforter&family=EB+Garamond&family=Roboto+Mono&display=swap');
$body-font-family: 'Comforter', cursive;

body {
  background-color: #242728;
  font-family: $body-font-family;
  font-size: 18px;
}

p {
  color: #ffffff;
}

img {
  width: 100%;
  height: 26vh;
}

.main-app {
  background-color: #242728;
}

.content {
  margin-top: 2rem;
}

