@import url('https://fonts.googleapis.com/css2?family=Comforter&family=EB+Garamond&family=Roboto+Mono&display=swap');
$body-font-family: 'Comforter', cursive;

body {
  background-color: black;
  font-family: $body-font-family;
  font-size: 16px;
}

.main-app {
  background-color: #242728;
}

